@using TwitHub.Data.Entities;
@model Tweet

<div class="card">
    <div class="row g-0">
        <div class="col-md-2">
            <img src="~/img/twithubmain.png" class="userlistimg">
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <a class="display: block text-decoration-none " asp-controller="user" asp-action="Index" asp-route-id="@Model.ApplicationUser.Id">
                    <h5 class="card-title text-decoration-none text-dark">@Model.ApplicationUser.UserName</h5>
                </a>
                <p class="text-muted">@Model.CreatedDate</p>

                <div class="alert alert-secondary text-decoration-none" role="alert">
                    <a class="display: block text-decoration-none " asp-controller="tweet" asp-action="details" asp-route-id="@Model.Id">
                        <p class="card-text fs-5 fw-normal font-monospace text-decoration-none text-dark">@Model.Text</p>
                    </a>
                </div>

                <div class="col-md-12">
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    @if (Model.ApplicationUser.Id != ViewBag.userid)
                    {
                        <button type="submit" class="btn btn-info btn-retweet" data-tweet-id="@Model.Id">
                            Retweet <span data-tweet-id="@Model.Id" class="badge badge-light span-retweet-count">@Model.ReTweets.Count</span>
                        </button>
                    }

                    <button type="submit" class="btn btn-info btn-favorite" data-tweet-id="@Model.Id">
                        Favorite <span data-tweet-id="@Model.Id" class="badge badge-light span-fav-count">@Model.Favorites.Count</span>
                    </button>

                    <a class="btn btn-info" asp-controller="Tweet" asp-action="Details" asp-route-id="@Model.Id">Details</a>

                    @if (Model.ApplicationUser.Id == ViewBag.userid)
                    {
                        @await Html.PartialAsync("_EditPartial")
                        @await Html.PartialAsync("_DeletePartial")
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<br />