@using TwitHub.Models;
@model UserPageViewModel

<section class="container d-flex justify-content-center align-items-center">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: dimgray; height:200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                 alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                 style="width: 150px; z-index: 1">

                            @if (Model.User.Id == ViewBag.userid)
                            {
                                <a type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1;"
                               asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                    Edit profile
                                </a>
                            }
                            else
                            {
                                if (ViewBag.FollowInfo == null)
                                {
                                    <a type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1;"
                               asp-controller="user" asp-action="NewFollow" asp-route-id="@Model.User.Id">
                                        Follow
                                    </a>
                                }
                                else
                                {
                                    <a type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1;"
                               asp-controller="user" asp-action="UnFollow" asp-route-id="@Model.User.Id">
                                        UnFollow
                                    </a>
                                }

                            }

                        </div>

                        <div class="ms-3" style="margin-top: 130px;">
                            <h5>@Model.User.UserName</h5>
                        </div>
                    </div>

                    <div class="p-4 text-black" style="background-color: white;">
                        <div class="col d-flex justify-content-end text-center py-1">
                            <div>
                            </div>
                            <br />
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="container">
            <div class="row">
                <div class="justify-content-center align-items-center text-center">
                    <a class="btn btn-dark" asp-controller="User" asp-action="Index" asp-route-id="@Model.User.Id">Tweet</a>
                    <a class="btn btn-dark" asp-controller="User" asp-action="Retweets" asp-route-id="@Model.User.Id">Retweet</a>
                    <a class="btn btn-dark" asp-controller="User" asp-action="Favorites" asp-route-id="@Model.User.Id">Favorite</a>
                    @if (Model.FollowCount > 0)
                    {
                        <a class="btn btn-dark" asp-controller="User" asp-action="Follows" asp-route-id="@Model.User.Id">Follows @Model.FollowCount</a>
                    }
                    else
                    {
                        <a class="btn btn-dark" asp-controller="User" asp-action="Follows" asp-route-id="@Model.User.Id">Follows</a>

                    }
                    @if (Model.FollowerCount > 0)
                    {
                        <a class="btn btn-dark" asp-controller="User" asp-action="Followers" asp-route-id="@Model.User.Id">Followers @Model.FollowerCount</a>
                    }
                    else
                    {
                        <a class="btn btn-dark" asp-controller="User" asp-action="Followers" asp-route-id="@Model.User.Id">Followers</a>

                    }
                </div>
            </div>
        </div>

</section>

