@using TwitHub.Data.Entities;
@model UserPageViewModel

<div>
    @await Html.PartialAsync("_UserPagePartial")
</div>
<br>

@if (Model.FollowCount > 0)
{
    @foreach (var follow in Model.Follows)
    {
        <div class="card">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/img/twithubmain.png" class="userlistimg">
                </div>
                <div class="col-md-3">
                    <div class="card-body">
                        <a class="display: block text-decoration-none " asp-controller="user" asp-action="Index" asp-route-id="@follow.TargetApplicationUser.Id">
                            <h5 class="card-title text-decoration-none text-dark">@follow.TargetApplicationUser.UserName</h5>
                        </a>
                        <p class="text-muted">Follow Time @follow.CreatedDate</p>

                        <input type="hidden" asp-for="@follow.TargetApplicationUser.Id" value="@follow.TargetApplicationUser.Id" />

                        <a class="btn btn-info col-md-4 .offset-md-4" asp-controller="user" asp-action="unfollow" asp-route-id="@follow.TargetApplicationUser.Id">Unfollow</a>

                    </div>
                </div>
            </div>
        </div>
        <br />
    }
}
else
{
    <div class="alert alert-warning" role="alert">Follow Not Found</div>
}